.app-container {
    height: 100%;
    flex-direction: column;
}

.app-content {
    height: auto;
    width: 100%;
    /* overflow-y: scroll; */
    background-color: var(--mainBgc);
    color: var(--txtClr);
}

@media (min-width: 955px) {
    .app-container {
        height: 100%;
        flex-direction: row;
    }
    
    .app-content {
        height: auto;
        width: 100%;
        /* overflow-y: scroll; */
        background-color: var(--mainBgc);
        color: var(--txtClr);
    }
    
    
}