.emails-container {
    width: 100%;
    /* overflow-y: scroll; */
}

.emails-container::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #737272;
    border: 1px solid #000;
    transform: rotateX(100deg);
}



.email-container {

    display: grid;
    grid-template-columns: 1fr 5fr;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.12);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5);
}

.email-container:hover .btn-list-hidden {
    opacity: 1;
}

.email-container span {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-list-container {
    position: relative;
    margin-top: 8px;

}

.btn-list-container * {
    background-color: var(--mainBgc);
    margin-inline-end: 5px;
    margin-inline-start: 5px;
    color: var(--txtClr);
}

.input-list {
    position: relative;
    top: 4px;
    width: 1rem;
    height: 1rem;
}

.mail-list-details {
    display: grid;
    /* grid-template-columns: repeat(fit, minmax(100px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-list-container {
    z-index: 10;
}

.expanded-body {
    padding: 1.6rem;
}

.expanded-btn button {
    margin-inline-end: 10px;
}

.btn-list-hidden {
    position: relative;
    top: 0.5rem;
    right: 0px;
    transition: 0.5s;
    opacity: 0;
    height: 0px;
}

.btn-list-hidden * {
    background-color: var(--mainBgc);
    position: relative;
    left: 0px;
    margin-inline-end: 5px;
    margin-inline-start: 5px;
    color: var(--txtClr);
}

.btn-list-hidden:hover {
    background-color: var(--mainBgc);
    opacity: 1;
}

.hidden {
    display: none;
}

.mail-body {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.mail-subject {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;

}


@media (max-width: 955px) {


    .email-container {
        grid-template-columns: 1fr;
    }

    .mail-list-details {
        grid-template-columns: 1fr;
    }

    .from {
        padding: 1em;
    }

    .mail-subject {
        padding: 1.3em;
    }

    .mail-body {
        padding: 1.5em;
    }

    .date {
        text-align: center;
        margin-inline-end: 2rem;
    }
}

/* 
.email-container {

    display: grid;
    grid-template-columns: 1fr 5fr;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.12);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5);
} */