.emails-container {
    width: 100%;
}




.email-container {
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    /* overflow-x: hidden; */
    display: flex;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.12);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5);
}

.email-container:hover .btn-list-hidden {
    opacity: 1;
}

.email-container span {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-list-container {
    position: relative;
    margin-top: 8px;

}

.btn-list-container * {
    background-color: var(--mainBgc);
    margin-inline-end: 5px;
    margin-inline-start: 5px;
}

.input-list {
    position: relative;
    top: 4px;
    width: 1rem;
    height: 1rem;
}

.mail-list-details {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.btn-list-container {
    position: relative;
    z-index: 10;
}

.expanded-body {
    padding: 1.6rem;
}

.expanded-btn button {
    margin-inline-end: 10px;
}

.btn-list-hidden {
    position: relative;
    top: 0.5rem;
    right: 0px;
    transition: 0.5s;
    opacity: 0;
    height: 0px;
}

.btn-list-hidden * {
    background-color: var(--mainBgc);
    position: relative;
    left: 0px;
    margin-inline-end: 5px;
    margin-inline-start: 5px;
}

.btn-list-hidden:hover {
    background-color: var(--mainBgc);
    opacity: 1;
}

.hidden {
    display: none;
}