.btn-nav-container {
    display: flex;
    justify-content: flex-end;
    padding: 1.6rem;
}


.arrow-back {
    margin-inline-start: 2em;
}

.btn-detail-container button {
    color: var(--txtClr);
    background-color: var(--mainBgc);
    margin-inline-end: 10px;

}