.expanded-subject {
    font-size: 2em;
}

.expanded-subject-btn {
    display: flex;
    justify-content: space-between;


}

.expanded-btn * {
    color: var(--txtClr);
    background-color: #36373d;
}

.main-expanded {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.6rem;
    border-bottom: 1px solid var(--txtClr);
    background-color: #36373d;
    max-height: 100%;
}

.stared {
    color: gold;
}

.read {
    color: var(--unreadTxtClr);
}

.mail-body {
    inline-size: 150px;
    overflow-wrap: break-word;
}


@media (max-width:955px) {
    .expanded-from {
        padding: 1.2em;
    }


}