.add-note-container {
  position: relative;
  justify-content: center;
  flex-direction: column;
  padding: 7px;
  border-radius: 7px;
  background-color: #525356;
  box-shadow: 0 1px 5px rgb(128, 128, 128);
  width: 75%;
  margin: 0 auto;
}

.title-input {
  width: 100%;
  font-size: 1.3rem;
}

.add-input {
  font-size: 1.1rem;
  margin: auto;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  border: 0;
}

.add-note-btn-container {
  position: absolute;
  right: 7px;
  bottom: 10px;
  font-size: 1.5rem;
  opacity: 0;
  transition: .7s;
}

.add-note-btn-container button {
  color: #bebebf;
  margin-right: 5px;
  background-color: transparent;
  font-size: 1.3rem;
}

.add-note-container:hover .add-note-btn-container {
  opacity: 1;
}

.lds-ring {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #60daf9;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #60daf9 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .add-note-btn-container button {
    color: #bebebf;
    margin-right: 5px;
    background-color: transparent;
    font-size: 1rem;
  }
}