/* Note List */

.main-notes-container {
    margin: 0 4vw;
}

.pinned-notes-container {
    grid-template-columns: repeat(auto-fit, minmax(177px, 1fr));
    gap: 27px;
    margin: 0 2vw 15px;
}

.notes-container {
    grid-template-columns: repeat(auto-fit, minmax(177px, 1fr));
    gap: 27px;
    margin: 0 2vw;
}

.note {
    position: relative;
    border-radius: 10px;
    border: 1.9px solid #5f6368;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.7);
    padding: 12px;
    /* min-height: 7vh; */
    height: fit-content;
    word-wrap: break-word;
    cursor: pointer;
    transition: .6s;
}

.note img {
    width: 100%;
    max-width: 300px;
}

.note-btn-container {
    position: absolute;
    bottom: 4px;
    right: 4px;
    transition: .3s;
    opacity: 0;
}

.note:hover .note-btn-container {
    opacity: 1;
}

.note-bgc-container {
    position: absolute;
    bottom: -27px;
    right: 4px;
    transition: .3s;
    /* opacity: 0; */
}

.note-bgc-container * {
    margin-left: 5px;
}

.dot {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 1px 4px 5px rgba(92, 92, 89, 0.607);
    transition: .5s;
}

.dot:hover {
    opacity: 0.7;
}

.note-content-container {
    padding-bottom: 26px;
}

.note button {
    background-color: transparent;
    color: #bebebf;
    border: 0;
    cursor: pointer;
}