.sent-mail {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 6fr 1fr;
    width: 30%;
    height: 50%;
    bottom: 0;
    left: 155px;
    border: 2px solid var(--txtClr);
    border-radius: 10px;
    z-index: 10;
}

.sent-message {
    display: flex;
    justify-content: space-between;
}

.sent-message * {
    color: var(--txtClr);
}

.sent-message .fa-xmark {
    background-color: var(--navClr);
    position: relative;
    font-size: 1.2em;
    bottom: 10px;
    margin-inline-end: 5px;
}

.sent-textarea textarea {
    height: 100%;
    width: 100%;
    resize: none;
    border-top: 1px;
    border-radius: 10px;
    background-color: #d4d8e6;
    color: var(--navClr);
    font-size: 1.1rem;

}

.sent-message {
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--navClr);


}

.sent-message span {
    margin-inline-start: 10px;
}

.sent-subject input {
    width: 100%;
    height: 90%;
    background-color: #d4d8e6;
}

.sent-emailTo input {
    width: 100%;
    height: 90%;
    background-color: #d4d8e6;
    margin-top: 5px;
}

.sent-btn-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--navClr);
}

.sent-btn-container .fa-delete {
    font-size: 1.4em;
    color: var(--txtClr);
    background-color: var(--navClr);
    margin-inline-end: 10px;
}

.sent-button {
    background-color: var(--navClr);
    border: 1px solid var(--txtClr);
    margin-inline-start: 10px;
    padding: 1.4em;
    color: var(--txtClr);
}


@media (max-width: 995px) {
    .sent-mail {

        left: 0px;
    }
}