* {
    box-sizing: border-box;
    font-family: 'fira-regular';

}

html {
    height: 100%;
}

body {
    margin: 0;
    color: var(--txtClr);
    min-height: 100%;
    background-color: var(--mainBgc);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .5em;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: unset;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
    max-width: 100%;
}

button {
    transition: .3s;
    background-color: #404040;
    border-radius: 7px;
    border: 0;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

input {
    color: var(--txtClr);
    border-radius: 7px;
    border: 0;
    background-color: #525356;
    padding: 8px;
    margin: 3px 0;
}